<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Личный кабинет</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="layouts/header :: header"></div>

<main class="container">
    <h1>Сайт разрабатывался студентом Воронежского института высоких технологий</h1>
    <h2>Викулин Павел андреевич</h2>
    <h2>ИСП-520</h2>
    <br>
    <h3>Цель создания: Дипломный проект</h3>
    <br>
    <h3>Тема дипломного проекта: Разработать веб приложение для медицинской фирмы, где есть возможность авторизации и просмотра анализов</h3>
    <br>
    <br>
    <h4>В случае передачи третьему лицу необходим письменный договор о сделке</h4>
</main>

<div th:replace="layouts/footer :: footer"></div>

</body>
</html>