<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Личный кабинет</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="layouts/header :: header"></div>

<main class="container">
    <h1>Изменение пароля</h1>
    <br>
    <form th:action="@{/user/newPassword}" method="post">
        <input type="password" name="pass1" placeholder="Введите новый пароль">
        <input type="password" name="pass2" placeholder="Повторите новый пароль">
        <button>Изменить</button>
    </form>

</main>

<div th:replace="layouts/footer :: footer"></div>

</body>
</html>