<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" >
  <title>Личный кабинет</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="layouts/header :: header"></div>

<main class="container">

  <form th:action="@{/search}">
    <h3>Поиск пользователя по логину</h3>
    <input name="username" type="text" placeholder="Введите логин">
    <button>Искать</button>
  </form>

  <div>
    <div id="analyzes" th:each="el : ${value}">
      <h1 th:text="${el.title}"/>
      <h4 th:text="${el.date}"/>
      <h1 th:text="${el.fcs}"/>
      <h5 th:text="${el.result}"/>
    </div>
  </div>

</main>

<div th:replace="layouts/footer :: footer"></div>

</body>
</html>